{% extends "layout.njk" %}

{% block pagina %}

    {# Meu código da página vai aqui #}
    <h1>{{title}}</h1>
    <div class="col-md-6">
        <form action="" method="POST">
            <div class="form-group">
                <label for="nome">Nome da Música</label>
                <input type="text" name="nome" id="nome" class="form-control" placeholder="Nome da música">
            </div>
            <div class="form-group">
                <label for="artista">Nome do Artista</label>
                <input type="text" name="artista" id="artista" class="form-control" placeholder="Nome do Artista">
            </div>
            <div class="form-group">
                <label for="estrelas">Total de Estrelas</label>
                <input type="number" name="estrelas" id="estrelas" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
            <a href="/musicas" class="btn btn-default">Voltar</a>
        </form>
    </div>

{% endblock %}